.project-container{
   position: relative; 
   margin: 0; 
  
}

.project{
   z-index: 10; 
   display: flex;
   justify-content: space-around;
   margin: auto;
   margin-top: 150px;
   
   box-shadow: -20 20px 10px rgb(100 100 100 / 0.8);
   overflow: auto;
  
}

.project-info {
   height: 320px;
   width: 420px;
   font-size: 20px;

}

.project-name{
   font-family: 'Montserrat', sans-serif; 
   font-size: 2em;
}

.project-description{
   font-style: italic;
}

.project-type{
   font-variant: small-caps;
   color:  rgb(32, 243, 32);
   font-size: 0.8em; 
   font-weight: 700;
}

.visit-view-menu{
   padding-top: 1em;
   font-variant: small-caps;
   font-size: 0.8em; 
   font-weight: 700;
}

.project-img img {
   height: 300px;
   width: 400px; 
}

.even{
   flex-direction: row;
}

.odd{
   flex-direction: row-reverse;
}

.top-gradient{
   height: 150px;
   background-color: black;
   background-image: linear-gradient(#000000,
    rgb(32, 243, 32));
   border-bottom: 1px solid yellow;
}

.bottom-gradient{
   height: 70px;
   background-color: black;
   background-image: linear-gradient(rgb(32, 243, 32),#000000);
   /* border-top: 1px solid yellow; */
}



.visit-view-menu a {
   color: white;
   text-decoration: none;
}

@media(max-width: 700px) {
   /* stack the photo and text */
}
